<div class="content">
    <div class="filter-container">
        <div class="filter-label">Filter keywords</div>
        <app-filter-search (filterChanged)="onFilterChanged($event)" />
        <div class="result-score">
            Results: {{ this.articlesCount$ | async }}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="content-container">
        <!--        TODO: add virtualized list with data fetching-->
        @for (article of articles$ | async; track trackByFn($index, article.data)) {
            <app-content-card
                [article]="article"
            />
        }
    </div>
</div>
