@use "@angular/material" as mat;

@include mat.core();

// TODO: add color pallet accordingly with scratch
// TODO: fix dependencies with .mat-typography according <Material 3> approach

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true,
  ),
  typography: (
    plain-family: 'Montserrat',
    brand-family: 'Montserrat',
    use-system-variables: false,
  ),
));

body {
  @include mat.core-theme($theme); // didn't trigger theme
  @include mat.typography-hierarchy($theme); // didn't trigger theme
  @include mat.all-component-themes($theme); // didn't trigger theme
  @include mat.system-level-colors($theme); // Material 3
  @include mat.system-level-typography($theme); // Material 3

  font-family: 'Montserrat', serif;
}
