.card {
  // TODO: remove after fix theme
  font-family: Montserrat;
  max-width: 400px;
  border-radius: 5px;
  border: 1px;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 261px;
}

.card-image {
  position: relative;
  width: 400px;
  height: 217px;

  img {
    object-fit: cover;
  }
}

.card-date {
  display: flex;
  padding: 25px 9px;
  font-size: 14px;
  line-height: 14px;

  .mat-icon {
    margin-right: 8px;
    width: 13px;
    height: 13px;
  }

}

.card-title {
  padding: 0 9px 20px;
}

.card-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 140px;
  padding: 0 9px;
}

.card-read-more {
  display: flex;
  padding: 0 17px;
  color: inherit;
  text-decoration: none;


  &:hover {
    text-decoration-line: underline;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
  }

}
