@if (article() !== null) {
    <mat-card class="card">
        <div class="card-image">
            <!--        TODO: add img optimization-->
            <img mat-card-image
                 [ngSrc]="article()?.data?.image_url || '' "
                 alt="{{article()?.data?.news_site}}"
                 fill
                 priority
            >
        </div>
        <mat-card-content class="card-content">
            <div class="card-date">
                <mat-icon svgIcon="calendar" />
                <!--            TODO: date format accordingly the scratch using date-fns -->
                <span>{{ article()?.data?.published_at | date:'MMM dd, yyyy' }}</span>
            </div>
            <mat-card-title
                class="card-title"
                [innerHTML]="((article()?.data?.title || '' | slice:0:100)
                        + ((article()?.data?.title?.length || 0) > 100 ? '...' : ''))
                        | highlightText: article()?.searchValue || null"
            />
            <p
                class="card-summary"
                [innerHTML]="(article()?.data?.summary | slice:0:100)
                        + ((article()?.data?.summary?.length || 0) > 100 ? '...' : '')
                        | highlightText: article()?.searchValue || null"
            ></p>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="[article()?.data?.id]" class="card-read-more">
                Read more
                <mat-icon fontIcon="arrow_forward" />
            </a>
        </mat-card-actions>
    </mat-card>
}
